curl -X POST \
  http://localhost:4040/api/category/ \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/x-www-form-urlencoded' \
  -H 'postman-token: 653b3f57-e831-3609-d1be-61ee2abe023c' \
  -d 'name=iPhone%20plus&parent_category=5caa94b3d5dfb2515a887dc0'


curl -X GET \
  http://localhost:4040/api/category/ \
  -H 'cache-control: no-cache' \
  -H 'postman-token: d5bf4b89-1041-f647-56c5-ee1c91c425a1'

  curl -X GET \
  http://localhost:4040/api/category/5caa94ead5dfb2515a887dc2 \
  -H 'cache-control: no-cache' \
  -H 'postman-token: 0c9291f7-8f26-9a41-dc5e-50209d2f1c0b'




curl -X POST \
  http://localhost:4040/api/product/ \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/x-www-form-urlencoded' \
  -H 'postman-token: c5cf41fe-3c0c-78ac-98d4-658d1803713f' \
  -d 'name=iPhone%20Back%20Cover&category_id%5B%5D=5caa93aed5dfb2515a887dbb&category_id%5B%5D=5caa94ead5dfb2515a887dc2'

curl -X GET \
  http://localhost:4040/api/product/ \
  -H 'cache-control: no-cache' \
  -H 'postman-token: d317ddbe-177c-efb1-6206-ffc709c97152'


curl -X GET \
  http://localhost:4040/api/product/5caa9591d5dfb2515a887dc3 \
  -H 'cache-control: no-cache' \
  -H 'postman-token: f1e17d6b-bec3-ee0d-982b-980974e5a478'
  